<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
    <title>CookBook Junali</title>
    <style>
        body {
            width: 900px;
            margin: 0 auto;
        }

        body a {
            text-decoration: none;
            color: royalblue;
        }

        nav {
            background: #cdccdc;
            padding: 15px;
            display: grid;
            grid-auto-flow: column;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 25px;
        }

        nav>a:first-child {
            font-size: 200%;
        }


        nav ul {
            display: inline-grid;
            grid-auto-flow: column;
            margin: 0px;
        }

        ul li {
            list-style: none;
            padding: 0 10px;
        }

        ul li a {
            text-transform: uppercase;
        }
    </style>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/errorMessage.ejs') %>
    <%- body %>
</body>

</html>