<h2>New Recipe</h2>

<form action="/recipes" method="post" enctype="multipart/form-data">
    <%- include("./_form-fields.ejs") %>
    <a href="/recipes">Cancel</a>
    <button type="submit">Create Recipe</button>
</form>